
@font-face {
    font-family: 'snell_roundhandregular';
    src: url('snellroundhand-webfont.woff2') format('woff2'),
         url('snellroundhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

